body {
  color: #282846;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #f6f6f6;
  border-radius: 30px;
  box-shadow: 0px 1px 6px -2px #808080;
  padding: 3%;
  margin: 1% 2%;
  text-align: center;
}

h1 {
  font-family: 'Black Ops One', cursive;
  text-align: center;
  font-size: 3rem;
  /* color: #E4EFFF; */
  color: #023f4d;
}

.home-image {
  max-width: 50%;
  height: auto;
}

nav {
  text-align: right;
  margin: 2%;
}

.links {
  border: 1px solid #023f4d;
  font-size: 1rem;
  background-color: #023f4d;
  border-radius: 50px;
  padding: 5px 10px;
  color: #f2f2f2;
  margin: 1%;
}

.links:hover {
  color: #023f4d;
  background-color: #bababa;
  border: 1px solid #bababa;
}