/* font-family: 'Allerta Stencil', sans-serif;
font-family: 'Average', serif;
font-family: 'Black Ops One', cursive;
font-family: 'Cinzel', serif;
font-family: 'Vollkorn', serif; */

body {
  font-family: 'Average', serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* background-image: url('https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGZpdG5lc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  color: #E4EFFF;
  text-align: center; */
}

